<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon name="close-outline" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-label>Fecha: {{ datosEmpresa.fecha1 }} - {{ datosEmpresa.fecha2 }}</ion-label>
    <ion-label slot="end" style="padding-right: 10px;">{{ datosEmpresa.empresaNombre }}</ion-label>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h1>Maximo permitido para esta empresa <span *ngIf="!persmisosEmpresa.verificarN" style="color: red;"> (Solo es
          informativo no actualiza en el sistema real)</span></h1>
    </ion-label>
  </ion-item>
  <ion-grid class="ion-margin">
    <ion-row style="background-color: rgb(150, 30, 76);">
      <ion-col>Guias</ion-col>
      <ion-col>Agencias</ion-col>
      <ion-col>Usuarios</ion-col>
      <ion-col>Paquetes</ion-col>
      <ion-col>Vehiculos</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ persmisosEmpresa.guiasN }}</ion-col>
      <ion-col>{{ persmisosEmpresa.agenciasN }}</ion-col>
      <ion-col>{{ persmisosEmpresa.usuariosN }}</ion-col>
      <ion-col>{{ persmisosEmpresa.paquetesN }}</ion-col>
      <ion-col>{{ persmisosEmpresa.vehiculosN }}</ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h1>Guias realizadas</h1>
    </ion-label>
  </ion-item>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Guias</ion-col>
      <ion-col>Peso</ion-col>
      <ion-col>Flete</ion-col>
      <ion-col>Seguro</ion-col>
      <ion-col>Total</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ guias.total_filas }}</ion-col>
      <ion-col>{{ guias.peso }}</ion-col>
      <ion-col>${{ guias.flete | number:'1.2-2' }}</ion-col>
      <ion-col>${{ guias.seguro | number:'1.2-2' }}</ion-col>
      <ion-col>${{ guias.total_valor | number:'1.2-2' }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <h1>Agencias</h1>
    </ion-label>
  </ion-item>

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Agencias</ion-col>
      <ion-col>Usuarios</ion-col>
      <ion-col>casilleros</ion-col>
      <ion-col>Clientes</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ agencias.total_filas }}</ion-col>
      <ion-col>{{ usuarios.total_filas }}</ion-col>
      <ion-col>{{ casilleros.total_filas }}</ion-col>

      <ion-col>{{ person.total_filas }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <h1>Bodega</h1>
    </ion-label>
  </ion-item>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Paquetes</ion-col>
      <ion-col>Peso</ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>Declarado</ion-col>
    </ion-row>
    <ion-row>
      <ion-col> {{ paquete.total_filas }}</ion-col>
      <ion-col> {{ paquete.peso }}</ion-col>
      <ion-col> </ion-col>
      <ion-col> </ion-col>
      <ion-col> ${{ paquete.total_valor | number:'1.2-2' }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <h1>Extras</h1>
    </ion-label>
  </ion-item>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Twilio</ion-col>
      <ion-col>Web</ion-col>
      <ion-col>Pwa</ion-col>
      <ion-col>Vehiculos</ion-col>
    </ion-row>
    <ion-row>
      <ion-col> <span *ngIf="datosEmpresa.empresa.twilio === '1'">SI</span> <span
          *ngIf="!datosEmpresa.empresa.twilio">NO</span></ion-col>
      <ion-col> <span *ngIf="datosEmpresa.empresa.web === '1'">SI</span> <span
          *ngIf="!datosEmpresa.empresa.web">NO</span></ion-col>
      <ion-col> <span *ngIf="datosEmpresa.empresa.pwa === '1'">SI</span> <span
          *ngIf="!datosEmpresa.empresa.pwa">NO</span></ion-col>
      <ion-col> <span *ngIf="datosEmpresa.empresa.vehiculos === '1'">SI</span> <span
          *ngIf="!datosEmpresa.empresa.vehiculos">NO</span></ion-col>
    </ion-row>
  </ion-grid>


    <ion-col class="ion-text-center">
      <h1 class="custom-heading">Numero de guias de los últimos 12 meses ({{ cobroporitemparamc }})</h1>
      <table class="table-container">
        <thead>
          <tr style="background-color: rgb(89, 135, 214);">
            <th>Año</th>
            <th>Mes</th>
            <th>Guias</th>
            <th>Total</th>
            <th>20%</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let guiaa of guiasano">
            <td>{{ guiaa.anio }}</td>
            <td>{{ guiaa.mes }}</td>
            <td>{{ guiaa.cantidad_de_guias }}</td>
            <td>${{ guiaa.total * cobroporitemparamc | number:'1.2-2' }}</td>
            <td>${{ (guiaa.total * cobroporitemparamc) * 0.20 | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </ion-col>


  <!-- Encabezado -->
  
    <ion-col class="ion-text-center">
      <h1 style="margin-left: 15px;">Pagos de la empresa</h1>
      <table class="table-container">
        <thead>
          <tr style="background-color: rgb(54, 46, 158); color: white;">
            <th>Fecha</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Codigo</th>
            <th>Referencia</th>
            <th>Metodo</th>
            <th>Pago</th>
            <th>Link</th>
            <th>Notas</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pago of pagos">
            <td>{{ pago.fecha }}</td>
            <td>{{ pago.ano }}</td>
            <td>{{ pago.mes}}</td>
            <td>{{ pago.codigo }}</td>
            <td>{{ pago.referencia }}</td>
            <td>{{ pago.metododepago }}</td>
            <td>{{ pago.estadopago }}</td>
            <td>
              <span *ngIf="pago.url" (click)="abrirBrowswer(pago.url)" style="cursor: pointer;"
                title="Ir a la URL de la empresa">Ver</span>
            </td>
            <td>{{ pago.notas }}</td>
            <td>${{ pago.valor }}</td>
          </tr>
        </tbody>
      </table>
    </ion-col>


</ion-content>