<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>   
    <ion-title slot="end">  @MERCURIO </ion-title>
    <ion-fab-button (click)="logout()" slot="end">
        <ion-icon name="log-in"></ion-icon>
    </ion-fab-button>        
  </ion-toolbar>
</ion-header>
  -->
    
  <ion-content>
  <ion-app> 
    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content" class="ion-menu">

        <ion-list id="inbox-list">
          <ion-list-header>Ventas</ion-list-header>
          <ion-note>Managercargo Software@</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item lines="none" button (click)="logout()">
            <ion-icon color="danger" aria-hidden="true" slot="start" name="log-out"></ion-icon>
            <ion-label color="danger">Cerrar sessión</ion-label>
          </ion-item>
        </ion-list>

        <ion-list id="labels-list">
          <!--
          <ion-list-header>Labels</ion-list-header>          
          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
          -->
        </ion-list>
      </ion-menu>

      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-app>
</ion-content>